.custom-shape-divider-bottom-1616874637 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1616874637 svg {
  position: relative;
  display: block;
  width: calc(171% + 1.3px);
  height: 129px;
}

.custom-shape-divider-bottom-1616874637 .shape-fill {
  fill: rgb(129, 140, 248);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1616874637 svg {
    width: calc(108% + 1.3px);
    height: 129px;
  }
}
